<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<div class="content">
  <h1 class="title">br
    <div class="button">
      <div class="triangle"></div>
    </div>
  wsin'</h1>
  <form class="search">
    <input class="bar" type="text" placeholder="I can show you the world" required><br/>
    <input class="search-button" type="button" value="browse">
  </form>
<div>
