<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<div class="content">
  <h1 class="title">br
    <div class="button">
      <div class="triangle"></div>
    </div>
  wsin'</h1>
    <div class="col-md-offset-6 input-append">
        <input id="search-data" type="text" class="col-6 search-query">
        <button id="search" type="submit" class="btn">Search</button>
    </div>
<div>
