/*
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_tree .
 */

@font-face {
  font-family: 'abeatbyKai';
  src: url('/assets/ABEAKRG.ttf');
}
#sign-up-button {
  padding-top:10px;
}
.caption {
  margin-top: 15px;
}
.match-result {
  border-right: 1px solid grey;
  margin-left: 5px;
}
.results :last-child {
  border:none;
}
.button-group-main {
  text-align: center;
}
.results {
  font-size: .85em;
  color: grey;
}
.top-button {
  padding:10px;
  cursor: pointer;
  text-align: right;
}
.table {
  margin-bottom: 0 !important;
}
.alert-white {
  background-color:white;
}
.provider-list h4 {
  margin-top: 0;
  padding-bottom: 5px;
}
.mod-header-color {
  background: lightgrey;
}

.login-area{
  height: 54px;
  cursor: pointer;
}
.title{
  color: #282827;
  font-family: 'abeatbyKai';
  font-size: 100px;
  letter-spacing: 4px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 0;
  line-height: 0;
  margin-left: 10px;
}

.user-modal {
  width: 600px !important;
  margin-right: 120px !important;
  margin-top: 50px !important;
}
.button {
  margin: -5px -52px;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  background-color: gold; /**rgb(122,201,67)*/
  border-radius: 150px;
  cursor: pointer;
}
.button:hover{
  box-shadow: 0px 0px 30px #fff;
}

.top-area-bar {
  background: lightseagreen;
}
.triangle {
  left: 18px;
  top: 14px;
  position: relative;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #fdf7ef;
  z-index: 2;
}
.sub-head {
  margin: 3px auto;
  text-align: center;
  padding: 0;
  font-weight: 300;
  padding-bottom: 10px;
}
.search-results-area-div {
  margin-top:10px;
  border: 0px !important;
}

.alert-login {
  background: gold;
  margin-bottom: 0 !important;
  margin-top: 10px;
}

.panel-views { 
  border: 1px solid lightseagreen !important;
}

.height-extend {
  height: 40px;
}
.upcase {
  font-weight: 800;
}
.ratings {
  background: gold;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  position: relative;
  left: -19px;
  top: -5px;
  font-weight:800;
  text-align: center;
  line-height: 2.25;
  font-size: .9em;
}
.sprite-size {
  margin-left: 5px;
  padding: 20px;
}

.runtime {
  cursor: default !important;
}
.hbo,.HBO {
  background: url('/assets/provider-sprite.png') -82px no-repeat;
}

.netflix {
  background: url('/assets/provider-sprite.png') 0 no-repeat;
}

.Disney {
  background: url('/assets/provider-sprite.png') -1040px no-repeat;
}
.Amazon {
  background: url('/assets/provider-sprite.png') -1080px no-repeat;
}

.delete-media-item {
  background: url('/assets/provider-sprite.png') -122px no-repeat;
  margin-left: 5px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
}

.hand-cursor {
  cursor: pointer;
}

.hulu_plus {
  background: url('/assets/provider-sprite.png') -42px no-repeat;
}
.sci-fi {
  background: url('/assets/provider-sprite.png') -203px no-repeat;
}
.drama {
  background: url('/assets/provider-sprite.png') -722px no-repeat;
}
.history {
  background: url('/assets/provider-sprite.png') -762px no-repeat;
}
.sport {
  background: url('/assets/provider-sprite.png') -442px no-repeat;
}
.family {
  background: url('/assets/provider-sprite.png') -522px no-repeat;
}
.news {
  background: url('/assets/provider-sprite.png') -360px no-repeat;
}
.talk-show {
  background: url('/assets/provider-sprite.png') -360px no-repeat;
}
.game-show {
  background: url('/assets/provider-sprite.png') -360px no-repeat;
}
.reality-tv {
  background: url('/assets/provider-sprite.png') -360px no-repeat;
}
.music {
  background: url('/assets/provider-sprite.png') -400px no-repeat;
}
.war {
  background: url('/assets/provider-sprite.png') -482px no-repeat;
}
.western {
  background: url('/assets/provider-sprite.png') -482px no-repeat;
}
.adventure {
  background: url('/assets/provider-sprite.png') -959px no-repeat;
}
.fantasy {
  background: url('/assets/provider-sprite.png') -203px no-repeat;
}
.biography {
  background: url('/assets/provider-sprite.png') -882px no-repeat;
}
.romance {
  background: url('/assets/provider-sprite.png') -842px no-repeat;
}
.thriller {
  background: url('/assets/provider-sprite.png') -999px no-repeat;
}
.horror {
  background: url('/assets/provider-sprite.png') -922px no-repeat;
}
.comedy {
  background: url('/assets/provider-sprite.png') -682px no-repeat;
}
.mystery {
  background: url('/assets/provider-sprite.png') -320px no-repeat;
}
.animation {
  background: url('/assets/provider-sprite.png') -562px no-repeat;
}
.musical {
  background: url('/assets/provider-sprite.png') -802px no-repeat;
}
.action {
  background: url('/assets/provider-sprite.png') -642px no-repeat;
}
.crime {
  background: url('/assets/provider-sprite.png') -602px no-repeat;
}
.documentary {
  background: url('/assets/provider-sprite.png') -762px no-repeat;
}
.hulu_free {
  background: url('/assets/provider-sprite.png') -42px no-repeat;
}
.actors {
  display: block;
  border-top: 1px solid #dedede;
  margin-top: 10px;
  font-size: .9em;
  padding-top: 5px;
}
.actors a {
  cursor: pointer;
}
.plus-button {
 width: 73px !important;
 line-height: 0.60 !important;
 margin-left: 15px !important;
}
.btn-main {
  background: lightseagreen;
}
.user-page {
  padding: 15px 0 !important;
}
/* LOADING ANIMATION */
.loader,
.loader:before,
.loader:after {
  background: #FFF;
            -webkit-animation: load1 1s infinite ease-in-out;
            animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
    80%,
    100% {
      box-shadow: 0 0 #FFF;
height: 4em;
    }
  40% {
    box-shadow: 0 -2em #ffffff;
height: 5em;
  }
}
@keyframes load1 {
  0%,
    80%,
    100% {
      box-shadow: 0 0 #FFF;
height: 4em;
    }
  40% {
    box-shadow: 0 -2em #ffffff;
height: 5em;
  }
}
/* mobile media queries*/

/*media queries*/
@media (max-width: 1177px){
  .panel-title{
    font-size: 14px !important;
  }
}
@media (max-width: 768px){
  .small-title{
    min-width: 430px;
  }
  .services{
    right: 54px;
    position: absolute;
  }
  .form-control {
    margin-bottom: 5px !important;
  }
}

@media (max-width: 626px){
  .title{
    color: #282827;
    font-family: 'abeatbyKai';
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 15px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 100%;     
    text-align: center;
  }
  .plus-button {
    margin-top: -8px !important;
  }
  .button {
    margin: -5px -52px;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: gold; /**rgb(122,201,67)*/
    border-radius: 150px;
  }

  .triangle {
    left: 9px;
    top: 7px;
    position: relative;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 26px solid #fdf7ef;
    z-index: 2;
  }
  .title-br{
    padding-right: 5px

  }

  .title-wsin{
    padding-left: 19px
  }

  .sub-head {
    margin: 3px auto;
    text-align: center;
    padding: 0;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .small-title{
    font-size: 14px !important;
    text-align: left !important;
    min-width: 300px;
  }
  .services{
    right: 64px;
    position: absolute;
  }
}

@media (max-width: 600px){
  .small-title{
    min-width: 400px;
  }
}

@media (max-width: 586px){
  .small-title{
    min-width: 300px;
  }
  .services{
    padding-left: 0px;
  }
  .login-area a:hover {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 500px){
  .small-trash{
    display: none;

  }
  .services{
    right: -12px;
    position: absolute;
  }
  .title {
    font-size: 40px;
  }
  #sign-up-button{
    padding: 15px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
  }
  #sign-in-button{
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
  }
  .btn{
    padding: 10px !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    background: none;
    cursor: pointer;
  }

  .provider-list{
    display: inline-block;
  }
  .user-modal{
    width: 100% !important;
  }
}
